*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url(https://wallpaperaccess.com/full/458187.jpg);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 580px;
    background-color: #FFF6EA;
    border: solid #2F4858 10px;
    border-radius: 12px;
}

.title{
    margin-top: 5px;
    color: #2F4858;
    text-shadow: 2px 2px #e0a79a;
}

.field-box{
    margin-top: 20px ;

}


.field-box input{
    background-color: #2F4858;
    border-radius: 20px;
    color: white;
    border: solid black 2px;

}

.field-box input:hover{
    background-color: #46708a;
    border: solid black 2px;
    border-radius: 20px;
}

.to-do-send{
    margin-top: 10px;
    background-color:#2F4858;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    list-style: none;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;

}

.to-do-send:hover{
    color: #FC6060;
}

hr {
    margin-top: 20px;
    width: 90%;
    border: solid #2F4858;
}

.list-box{
    width: 60%;
    margin-top: 10px;


}

li{
    width: 100%;
    margin-top: 10px;
    background-color:#2F4858;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    list-style: none;
    border-radius: 20px;
    color: white;


}

li button{
    margin: 5px;
    background-color: #FFF6EA;
    border-radius: 25%;
    border: none;
    height: 30px;
    width: 30px;
    cursor: pointer;
    color: black;
}

li button:hover{
    margin: 5px;
    background-color: #FFF6EA;
    border-radius: 25%;
    height: 30px;
    width: 30px;
    color: #FC6060;
    
}
